name: ci

on: [push]

jobs:
  docker:
    runs-on: self-hosted
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: shanthosh04
          password: dckr_pat_7iP7gHAXvoSPzW2WnxW0n97yxuU
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: shanthosh04/m324-typescript:latest

